<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Preconnect to external domains -->
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googletagmanager.com">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ 'images/favicon.png' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ 'images/favicon.svg' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">

<meta name="description" content="Project-a — решения на стыке Machine Learning и информационной безопасности: защищённые ИИ-алгоритмы нового поколения.">

<meta name="google-site-verification" content="KM19ugVKP0FN2XQZQA8XimZLo5aG21Pg-vaaqNllrXw" />

<!-- end custom head snippets -->
